<div class="addAdminContainer">
  <mat-card>
    <form class="example-form" [formGroup]="addAdminForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>
      <p [ngStyle]="{color: 'red'}" *ngIf="addAdminForm.get('email')?.touched && !addAdminForm.get('email')?.valid">Email Required</p>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <p [ngStyle]="{color: 'red'}" *ngIf="addAdminForm.get('password')?.touched && !addAdminForm.get('password')?.valid">Password Required</p>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>
      <p [ngStyle]="{color: 'red'}" *ngIf="addAdminForm.get('name')?.touched && !addAdminForm.get('name')?.valid">Name Required</p>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Contact</mat-label>
        <input type="number" matInput formControlName="contact">
      </mat-form-field>
      <p [ngStyle]="{color: 'red'}" *ngIf="addAdminForm.get('contact')?.touched && !addAdminForm.get('contact')?.valid">Contact Required</p>

      <button mat-stroked-button type="button" (click)="onAddAdmin()" [disabled]="!addAdminForm.valid">Add Admin</button>
    </form>
  </mat-card>
</div>
