.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  #firstCard{
    width: 50%;
    margin-top: 2rem;
    div{
      height: 5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  #secondCard{
    width: 50%;
    margin-top: 1rem;
  }

  .buttonContainer{
    position: absolute;
    bottom: 40px;
    right: 80px;
  }

  #checkButton{
    margin-left: 15%;
  }
  // span{
  //   margin-right: 60%;
  //   margin-left: 3%;
  // }




  @media only screen and (max-width: 768px) {
    .container{

      #firstCard{
        width: 90%;
      }

      #secondCard{
        width: 90%;
      }

    }

    .buttonContainer{
      bottom: 60px;
      right: 30px;
    }
  }
