<div class="signUpContainer">
  <div class="logo-container">
    <a class="logo" routerLink="/">LOGO</a>
  </div>
  <h1>Sign Up</h1>
  <mat-card>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input type="tel" matInput>
      </mat-form-field>

      <a mat-stroked-button type="button" routerLink="/">Sign Up</a>
    </form>
  </mat-card>
</div>

