<div class="nav-container">
    <ul class="navBar flex">
      <div class="first-container">
        <button mat-icon-button type="button" *ngIf="isMenuVisible">
          <mat-icon>menu</mat-icon>
        </button>
          <li><a class="logo" routerLink="/">Logo</a></li>
      </div>
        <div class="flex">
            <li id="signIn" class="hoverBottomEffect"><a routerLink="/signin">Sign In</a></li>
            <li id="signUp" class="hoverBottomEffect"><a routerLink="/signup">Sign Up</a></li>
        </div>
    </ul>
</div>
