<div class="nav-container">
    <ul class="navBar flex">
      <div class="first-container">
        <button mat-icon-button type="button" *ngIf="isMenuVisible" (click)="sideNav?.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
          <li><a class="logo" routerLink="/">Logo</a></li>
      </div>
        <div class="flex">
            <li id="signIn" class="hoverBottomEffect" *ngIf="!userIsAuthenticated"><a routerLink="/signin" >Sign In</a></li>
            <li id="signUp" class="hoverBottomEffect" *ngIf="!userIsAuthenticated"><a routerLink="/signup">Sign Up</a></li>
            <li id="logout" class="hoverBottomEffect" *ngIf="userIsAuthenticated" (click)="onLogOut.emit('clicked')"><a type="button" id="anchorButton">Log Out</a></li>
        </div>
    </ul>
</div>
