<!-- <div class="updateAdminContainer">

  <mat-card>
    <form class="example-form" [formGroup]="updateAdminForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>
      <p [ngStyle]="{color: 'red'}" *ngIf="updateAdminForm.get('email')?.touched && !updateAdminForm.get('email')?.valid">Email Required</p>


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>
      <p [ngStyle]="{color: 'red'}" *ngIf="updateAdminForm.get('name')?.touched && !updateAdminForm.get('name')?.valid">Name Required</p>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Contact</mat-label>
        <input type="number" matInput formControlName="contact">
      </mat-form-field>
      <p [ngStyle]="{color: 'red'}" *ngIf="updateAdminForm.get('contact')?.touched && !updateAdminForm.get('contact')?.valid">Contact Required</p>

      <button mat-stroked-button type="button" (click)="onupdateAdmin()" [disabled]="!updateAdminForm.valid">update Admin</button>
    </form>
  </mat-card>
</div> -->
