<div class="imageContainer">
    <h1>
        Local Bus Tracking System
    </h1>
    <p>
        We provide services to make your daily use of public transportation<br> in Kathmandu Ring Road easier and simpler.
    </p>
    <br>
    <div class="callToAction flex">
            <a class="button" routerLink="signin">Sign In</a>
            <a class="button fill-green" style="margin-left:5%" routerLink="signup">Sign Up</a>
    </div>
</div>
<!-- <div class="service-div">
    <h1>Our <span class="red-color">Services</span></h1>
    <div class="grid-container">
        <div class="service">
            <img src="" alt="">
            <h1>Heading 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cum nesciunt illo nostrum doloribus, recusandae molestias libero facilis perferendis facere nam! Voluptatum quam aut nemo quae ea sapiente eligendi deserunt.</p>
        </div>
        <div class="service">
            <img src="" alt="">
            <h1>Heading 2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cum nesciunt illo nostrum doloribus, recusandae molestias libero facilis perferendis facere nam! Voluptatum quam aut nemo quae ea sapiente eligendi deserunt.</p>
        </div>
        <div class="service">
            <img src="" alt="">
            <h1>Heading 3</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cum nesciunt illo nostrum doloribus, recusandae molestias libero facilis perferendis facere nam! Voluptatum quam aut nemo quae ea sapiente eligendi deserunt.</p>
        </div>
    </div>
</div>
<div class="customer-section">
    <h1><span class="red-color">Customer's</span> Review</h1>
    <div class="slider"
    (pointermove)="actionOnPointerMove($event)"
    (pointerdown)="actionOnPointerDown($event)"
    (pointerleave)="actionOnPointerLeave($event)"
    (pointerup)="actionOnPointerUp($event)"
    (pointerenter)="actionOnPointerEnter($event)">
        <div class="customer-grid-container">
        <div class="service">
            <img src="" alt="">
            <h1>Heading 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cum nesciunt illo nostrum doloribus, recusandae molestias libero facilis perferendis facere nam! Voluptatum quam aut nemo quae ea sapiente eligendi deserunt.</p>
        </div>
        <div class="service">
            <img src="" alt="">
            <h1>Heading 2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cum nesciunt illo nostrum doloribus, recusandae molestias libero facilis perferendis facere nam! Voluptatum quam aut nemo quae ea sapiente eligendi deserunt.</p>
        </div>
        <div class="service">
            <img src="" alt="">
            <h1>Heading 3</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cum nesciunt illo nostrum doloribus, recusandae molestias libero facilis perferendis facere nam! Voluptatum quam aut nemo quae ea sapiente eligendi deserunt.</p>
        </div>
        <div class="service">
            <img src="" alt="">
            <h1>Heading 4</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cum nesciunt illo nostrum doloribus, recusandae molestias libero facilis perferendis facere nam! Voluptatum quam aut nemo quae ea sapiente eligendi deserunt.</p>
        </div>
        <div class="service">
            <img src="" alt="">
            <h1>Heading 5</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cum nesciunt illo nostrum doloribus, recusandae molestias libero facilis perferendis facere nam! Voluptatum quam aut nemo quae ea sapiente eligendi deserunt.</p>
        </div>
    </div>
    </div>

</div> -->
