@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Source+Sans+Pro:wght@300&display=swap');

:root{
    --primary-black: #000000;
    --primary-red: #F41F4E;
    --accent-red: #FFC2C7;
    --white: #FBFBFB;
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Source Sans Pro', sans-serif;
    --header-font-size: 40px;
    --paragraph-font-size: 1rem;
}

@media only screen and (max-width: 1024px){
    :root{
        --header-font-size: 35px;
        --paragraph-font-size: 0.9rem;
    }
}

@media only screen and (max-width: 768px){
    :root{
        --header-font-size: 30px;
        --paragraph-font-size: 0.8rem;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    min-width: 375px;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto; 
}

p,a{
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1px;
}

h1{
    font-family: var(--heading-font);
    font-size: var(--header-font-size);
    line-height: 56px;
    letter-spacing: 5px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--white);
}

.flex{
    display: flex;
    flex-direction: row;
}