<div class="signInContainer">
  <div class="logo-container">
    <a class="logo" routerLink="/">LOGO</a>
  </div>
  <h1>Sign In</h1>
  <mat-card>
    <form class="example-form" [formGroup]="signInForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>
      <p [ngStyle]="{color: 'red'}" *ngIf="signInForm.get('email')?.touched && !signInForm.get('email')?.valid">Email Required</p>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <p [ngStyle]="{color: 'red'}" *ngIf="signInForm.get('password')?.touched && !signInForm.get('password')?.valid">Password Required</p>

      <button mat-stroked-button type="button" (click)="onSignIn()" [disabled]="!signInForm.valid">Sign In</button>
    </form>
  </mat-card>
  <div class="create-account-container">
    <p>New here? <a color="primary" routerLink="/signup">Create an account.</a></p>
  </div>
</div>
